@font-face {
  font-family: "Gen Jyuu Gothic Bold";
  src: url("./GenJyuuGothic-Bold.ttf");
}

@font-face {
  font-family: "Gen Jyuu Gothic Normal";
  src: url("./GenJyuuGothic-Normal.ttf");
}

@font-face {
  font-family: "Gen Jyuu Gothic Medium";
  src: url("./GenJyuuGothic-Medium.ttf");
}

@font-face {
  font-family: "Gen Jyuu Gothic Bold";
  src: url("./GenJyuuGothic-Bold.ttf");
}

@font-face {
  font-family: "Gen Jyuu Gothic ExtraLight";
  src: url("./GenJyuuGothic-ExtraLight.ttf");
}

@font-face {
  font-family: "Gen Jyuu Gothic Heavy";
  src: url("./GenJyuuGothic-Heavy.ttf");
}

@font-face {
  font-family: "Gen Jyuu Gothic Regular";
  src: url("./GenJyuuGothic-Regular.ttf");
}

@font-face {
  font-family: "Omnes Italic Bold";
  src: url("./omnes-bold-italic.otf");
}

@font-face {
  font-family: "Mochiy Pop One Regular";
  src: url("./MOCHIYPOPONE-REGULAR.TTF");
}

@font-face {
  font-family: "Black Han Sans Regular";
  src: url("./BlackHanSans-Regular.ttf");
}

@font-face {
  font-family: "text-security-disc";
  src: url("./text-security-disc.woff");
}
