.footer {
  max-width: 1920rpx;
  background: #0f0e37 0% 0% no-repeat padding-box;
  padding-bottom: 33rpx;
}

.trademarkPc {
  width: 100%;
  padding: 65rpx 154rpx 0;
  box-sizing: border-box;

  .box {
    width: 100%;
  }
  .card {
    width: 243rpx;
    :global {
      ._card_src {
        width: 243rpx;
        height: 93rpx;
        background: none;
      }
    }
  }
  :global {
    .swiper {
      overflow: hidden;
      .swiper-slide {
        width: 243rpx;
        height: 93rpx;
        margin-right: 30rpx;
      }
    }
  }
  .navigation {
    margin-left: -50rpx;
    width: 104%;
    display: none;
  }
}

.message {
  .wrapper {
    margin: 63rpx auto 0;
    display: flex;
    max-width: 1216rpx;
    height: 297rpx;
    justify-content: space-between;
    color: red;
    .commom {
      .title {
        color: #f5f5f5;
        font-size: 20rpx;
        font-family: "Gen Jyuu Gothic Bold";
      }
      .ul {
        margin-top: 22rpx;
        .li {
          margin-top: 23rpx;
          cursor: pointer;
          .link {
            font-size: 16rpx;
            color: #6c698d;
            font-family: "Gen Jyuu Gothic Medium";
            &:hover {
              color: #fff;
            }
          }

          &:first-child {
            margin-top: 0rpx;
          }
        }
      }
      .licenses {
        display: block;
        width: 71rpx;
        height: 52rpx;
        margin-top: 20rpx;
      }
    }
  }
}

.follow {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      display: -webkit-box;
      font-size: 20rpx;
      color: #f5f5f5;
      font-family: "Gen Jyuu Gothic Bold";
    }
    .imgs {
      margin-top: 26rpx;
      // height: 54rpx;
      display: flex;
      justify-content: space-between;
      .img {
        width: 54rpx;
        height: 54rpx;
        border-radius: 50%;
        margin-right: 29rpx;
        display: block;
        &:last-child {
          margin-right: 0rpx;
        }
      }
    }
  }
}

.cooperation {
  max-width: 1920rpx;
  background: #171842 0% 0% no-repeat padding-box;
  margin-top: 42rpx;
  height: 75rpx;
  display: flex;
  align-items: center;
  .wrapper {
    display: flex;
    padding: 0 316rpx;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    .img {
      width: 148rpx !important;
      height: 34rpx !important;
    }
  }
}

.tips {
  margin-top: 34rpx;
  .text {
    padding: 0 50px;
    margin: 0 auto;
    max-width: 1726rpx;
    box-sizing: border-box;
    // text-align: center;
    letter-spacing: 0.8rpx;
    color: #6c698d;
    font-size: 16rpx;
    line-height: 20rpx;
    font-family: "Gen Jyuu Gothic Medium";
  }
}
@media screen and (max-width: 750px) {
  .footer {
    width: 100%;
    overflow: hidden;
    padding-bottom: 60rpx * @mb;
  }

  .trademarkPcMb {
    margin-top: 32rpx * @mb;
    .content {
      padding-left: 16rpx * @mb;
      .cardWrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        &::-webkit-scrollbar {
          /*隐藏滚动条*/
          display: none;
        }

        .card {
          width: 162rpx * @mb;
          flex: none;
          margin-right: 9rpx * @mb;
          :global {
            ._card_src {
              width: 162rpx * @mb;
              height: 54rpx * @mb;
              background: none;
            }
          }
        }
      }
    }
  }

  .follow {
    margin-top: 18rpx * @mb;
    .wrapper {
      .title {
        font-size: 14rpx * @mb;
      }
      .imgs {
        margin-top: 16rpx * @mb;
        .img {
          width: 40rpx * @mb;
          height: 40rpx * @mb;
          margin-right: 22rpx * @mb;
        }
        .licenses {
          width: 50rpx * @mb;
        }
      }
    }
  }

  .cooperation {
    height: 145rpx * @mb;
    margin-top: 25rpx * @mb;
    overflow: hidden;
    .wrapper {
      flex-wrap: wrap;
      padding: 0;
      justify-content: inherit;
      .img {
        width: 122rpx * @mb !important;
        height: 29rpx * @mb !important;
        margin-top: 0 !important;
        &:nth-child(1) {
          margin-left: 58rpx * @mb;
          margin-right: 15rpx * @mb;
        }
        &:nth-child(n + 3) {
          margin-top: 48rpx * @mb !important;
        }
        // &:nth-child(n + 5) {
        //   margin-top: 21rpx * @mb;
        // }
        // &:nth-child(4n) {
        //   margin-right: 0;
        // }
        &:last-child {
          flex: inherit;
        }
        width: auto;
        height: 19rpx * @mb;
      }
    }
  }

  .tips {
    margin-top: 15rpx * @mb;
    margin-bottom: 37rpx * @mb;

    .text {
      padding: 0 17rpx * @mb;
      max-width: 100%;
      font-size: 12rpx * @mb;
      line-height: 18rpx * @mb;
      box-sizing: border-box;
      margin: 0;
    }
  }
}
